html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, input, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1.2;
    /* box-sizing: border-box; */
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

#container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-left: .7rem;
    padding-right: .7rem;
}

#headline {
    width: 100%;
    padding-top: 2em;
    padding-bottom: .5rem;
    padding-right: .3rem;
}
#headline > h1 {
    color: rgb(15, 36, 62);
    font-weight: bold;
    font-size: 4rem;
    line-height: .8;
    text-align: right;
}

#headline > h2 {
    text-align: right;
    font-size: 1.9rem;
    line-height: 1;
}

.main-info > section {
    max-width: 36rem;
    border-top: .7rem solid rgb(15, 36, 62, .8);
    padding-top: .2rem;
    padding-bottom: 1.5rem;
    padding-left: .3rem;
}

h2 {
    color: rgb(100, 36, 35);
    margin-bottom: .4rem;
    font-weight: bold;
    font-size: 1.5rem;
    font-variant-caps: small-caps;
}

h3 {
    position: relative;
    font-size: 1.4rem;
    font-weight: bold;
    color: rgb(22, 32, 73);
}

h4 {
    font-size: 1.1rem;
    font-weight: bold;
    color: rgb(22, 32, 73);
}

p {
    font-size: 1.1rem;
}

#education > div {
    padding-top: .5rem;
    padding-bottom: .5rem;
}

#essentials li {
    position: relative;
    padding-left: 4%;
}

#essentials li::before {
    content: '-';
    position: absolute;
    left: 1%;
}

#excellence ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-top: .3rem;
    padding-left: .3rem;
}

#excellence li {
    font-size: 90%;
    position: relative;
    padding-left: 4%;
    flex-basis: 29%;
}

#excellence li::before {
    content: '-';
    position: absolute;
    left: 6%;
}

#history > div {
    padding-bottom: 1rem;
    padding-top: rem;
    border-bottom: 3px solid rgb(100, 36, 35, .6);
}

#history > div:first-of-type {
    padding-top: 1rem;
}

#history h4 {
    padding-top: .5rem;
}

#history > div > div {
    padding-bottom: .3rem;
    padding-top: 1.5rem;
    border-bottom: 1px solid rgb(100, 36, 35, .6);
}

#history > div > div:last-of-type {
    padding-bottom: 1rem;
    padding-top: 1.5rem;
    border: none;
}
/* 
div.years {
    display: inline-block;
} */

.float-right div:last-child {
    padding-bottom: .3rem;
    font-size: 80%;
}

.float-right div:first-child.shrink {
    font-size: 80%;
}

@media (min-width: 480px){
    .float-right {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .float-right div:last-child {
        padding-bottom: 0;
        white-space: nowrap;
        flex-grow: 1;
        align-self: flex-end;
        text-align: right;
    }
}