:root {
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
input,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
html {
  line-height: 1.2;
  background-color: white;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

h2 {
  color: rgb(100, 36, 35);
  font-weight: bold;
  font-size: 1.5rem;
  font-variant-caps: small-caps;
}

h3 {
  position: relative;
  font-size: 1.3rem;
  font-weight: bold;
  color: rgb(22, 32, 73);
}

h4 {
  font-size: 1.1rem;
  font-weight: bold;
  color: rgb(22, 32, 73);
}

h5 {
  font-size: 1rem;
  color: rgb(22, 32, 73);
}

p {
  font-size: 1.1rem;
}

a {
  text-decoration: none;
}

a:visited,
a:link,
a:hover,
a:active,
a[href^="mailto"] {
  color: rgb(15, 36, 62);
  cursor: pointer;
}

.sheet {
  background-color: white;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  display: flex;
}

.sheet > div {
  height: 100%;
  flex-basis: 65%;
  overflow: hidden;
}

aside {
  flex-basis: 35%;
  height: 100%;
  border-left: 1px solid rgba(22, 32, 73, 0.75);
  border-top: 0.25in solid rgba(22, 32, 73, 0.75);
  padding-right: 0.25in;
  overflow: hidden;
}

.headline {
  display: none;
  width: 100%;
  padding-bottom: 1rem;
  padding-right: 2rem;
  text-align: center;
  color: rgb(15, 36, 62);
}

.headline > h1 {
  font-weight: bold;
  font-size: 4rem;
  line-height: 0.8;
  padding-top: 0.35in;
}

.headline > h2 {
  font-size: 1.9rem;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  line-height: 0.8;
}

.headline span {
  display: block;
  font-size: 0.8rem;
  line-height: 1.5;
}

.headline a {
  text-decoration: none;
}

.dates div:last-child {
  padding-bottom: 0.3rem;
  font-size: 80%;
}

.main-info > section {
  max-width: 36rem;
  border-top: 1px solid rgba(22, 32, 73, 0.75);
  padding-top: 0.2rem;
  padding-bottom: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 0.8em;
}

.main-info h2 {
  padding-bottom: 0.5rem;
}

#technologies {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin-left: -0.5rem;
  margin-bottom: -0.5rem;
  padding-top: 0.5rem;
}

#technologies > li {
  flex: 0 1 auto;
  display: block;
  overflow: hidden;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
}

#technologies img {
  display: block;
  height: 35px;
  margin: 0 auto;
  margin-bottom: 0.1rem;
}

#projects > div {
  padding-bottom: 0.9rem;
}

#projects ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#projects ul {
  display: none;
}

#projects li {
  font-size: 0.8rem;
  position: relative;
  flex: 1 1 50%;
  display: block;
  padding-top: 0.3rem;
  padding-left: 0.6rem;
}

#projects li::before {
  content: "-";
  position: absolute;
  left: -0.1rem;
}

#projects h3 {
  display: inline;
  padding-bottom: 0.5rem;
}

#projects a {
  text-decoration: underline;
}

#technologies p {
  font-size: 0.6rem;
  text-align: center;
}



.company {
  position: relative;
  padding-bottom: 1.5rem;
}

.company p {
  font-size: 0.8rem;
}

/* .company::after {
  position: absolute;
  content: "";
  left: 50%;
  bottom: 1.25rem;
  transform: translateX(-50%);
  width: 40%;
  border-bottom: 1px solid rgb(100, 36, 35, 0.6);
}

.company:last-child::after {
  display: none;
} */




.institution {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

aside > section {
  width: 100%;
  background-color: white;
  padding-left: 1rem;
}

aside h2 {
  /* display: inline-block; */
  padding-left: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.3rem;
  line-height: 1.3;
  border-top: 1px solid rgba(22, 32, 73, 0.75);
}

aside h2:first-of-type {
  border-top: none;
  padding-bottom: 0.7rem;
}

@page {
  size: letter portrait;
  margin: 0;
}

@media print {
  body {
    background-color: black;
  }

  .sheet {
    width: 8.5in;
    height: 11in;
    padding-left: 0.2in;
    padding-bottom: 0.2in;
    padding-right: 0;
    padding-top: 0;
    margin: 0 auto;
  }

  .sheet .headline {
    display: block;
  }

  #projects a::after {
    display: inline;
    content: attr(href);
    font-size: 0.7rem;
    padding-left: 0.5rem;
    text-decoration: none;
  }
}

@media screen {
  .sheet {
    box-shadow: 0 0.5mm 2mm rgba(0, 0, 0, 0.3);
    margin: 5mm;
  }

  .sheet:first-child #headline {
    display: block;
  }
}

@media (min-width: 480px) {
  /* .dates {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .dates div:last-child {
    padding-bottom: 0;
    white-space: nowrap;
    flex-grow: 1;
    align-self: flex-end;
    text-align: right;
  } */
}

#essentials li {
  position: relative;
  padding-left: 4%;
}

#essentials li::before {
  content: "-";
  position: absolute;
  left: 1%;
}

#excellence ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding-top: 0.3rem;
  padding-left: 0.3rem;
}

#excellence li {
  font-size: 90%;
  position: relative;
  padding-left: 4%;
  flex-basis: 29%;
}

#excellence li::before {
  content: "-";
  position: absolute;
  left: 6%;
}

/* 
div.years {
    display: inline-block;
} */
