:root {
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
input,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
html {
  line-height: 1.2;
  background-color: white;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

h2 {
  color: rgb(100, 36, 35);
  font-weight: bold;
  font-size: 1.7rem;
  font-variant-caps: small-caps;
}

h3 {
  position: relative;
  font-size: 1.4rem;
  font-weight: bold;
  color: rgb(22, 32, 73);
}

h4 {
  font-size: 1rem;
  font-weight: bold;
  color: rgb(22, 32, 73);
}

h5 {
  font-size: 0.9rem;
  color: rgb(22, 32, 73);
}

h6 {
  font-size: 0.8rem;
}

p {
  font-size: 1.1rem;
}

a {
  text-decoration: none;
}

a:visited,
a:link,
a:hover,
a:active,
a[href^="mailto"] {
  color: rgb(15, 36, 62);
  cursor: pointer;
}

/** 
*
*
*  primary layout
*
*
*/
.container {
  background-color: white;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  display: flex;
  width: 100%;
}

main {
  height: 100%;
  overflow: hidden;
  max-width: 36rem;
  margin: 0 auto;
}

aside {
  flex-basis: 35%;
  flex-grow: 1;
  height: 100%;
  overflow: hidden;
  border-left: 1px solid rgba(22, 32, 73, 0.75);
}

main > h2,
aside > h2 {
  border-top: 1px solid rgba(22, 32, 73, 0.75);
}

aside h2 {
  padding-left: 1rem;
}

main > section {
  padding-bottom: 1.5rem;
  padding-right: 0.8em;
}

aside > section {
  padding-left: 1rem;
}

aside > h2:first-of-type {
  padding-top: 0;
}

/** 
*
*
*  header area
*
*
*/
header {
  width: 100%;
  padding-bottom: 0.5rem;
  text-align: center;
  color: rgb(15, 36, 62);
}

header > h1 {
  font-weight: bold;
  font-size: 3rem;
  line-height: 0.8;
}

header > h2 {
  /* font-size: 1.9rem; */
  line-height: 1;
  padding-bottom: 0.2rem !important;
}

header > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 0.3rem;
}

header > div > * {
  padding-left: 1.5rem;
}

header > div > *:first-child {
  padding-left: 0;
  /* text-decoration: none; */
}

#projects article {
  padding-top: 2rem;
  padding-left: 0.5rem;
}

#projects article:first-of-type {
  padding-top: 0.5rem;
}

#projects h3 {
  display: inline-block;
  padding-bottom: 0.3rem;
}

#projects h5 {
  padding-bottom: 0.3rem;
}

#projects a {
  text-decoration: underline;
}

.project-container {
  display: flex;
  flex-direction: row;
}

.project-container > div {
  flex: 1 1 auto;
}

.project-container > img {
  max-width: 3rem;
  max-height: 3rem;
  margin-right: 1.5rem;
  margin-top: 0.3rem;
}

.project-container li {
  font-size: 0.8rem;
}

.stack {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-top: .2rem;
}

.stack li {
  width: 2.3rem;
  height: 2.2rem;
  overflow: hidden;
  margin-left: 0.6rem;
  margin-top: 0.8rem;
}

.stack img {
  display: block;
  height: 24px;
  margin: 0 auto;
  margin-bottom: 0.1rem;
}

.stack p {
  font-size: 0.5rem;
  text-align: center;
}

/** 
*
*
*  aside
*
*
*/

.company {
  position: relative;
  padding-bottom: 1.5rem;
}

.company > div {
  padding-top: 0.5rem;
}

.company p {
  font-size: 0.8rem;
}

.skill-set li {
  font-size: 0.8rem;
}

/* .company::after {
  position: absolute;
  content: "";
  left: 50%;
  bottom: 1.25rem;
  transform: translateX(-50%);
  width: 40%;
  border-bottom: 1px solid rgb(100, 36, 35, 0.6);
}

.company:last-child::after {
  display: none;
} */

.institution {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.list-with-bullets li {
  position: relative;
  display: block;
  padding-left: 0.6rem;
}

.list-with-bullets li::before {
  content: "-";
  position: absolute;
  left: -0.1rem;
}

.with-floated-span {
  display: flex;
}

.with-floated-span span {
  text-align: right;
  flex-grow: 1;
}

@page {
  size: letter portrait;
  margin: 0;
}

@media print {
  html,
  body {
    /* background-color: black; */
    width: 8.5in;
    height: 11in;
  }

  .container {
    /* width: 8.5in; */
    /* height: 11in; */
    padding-left: 0.2in;
    padding-bottom: 0.2in;
    padding-right: 0;
    padding-top: 0;
    margin: 0 auto;
  }

  main {
    padding-top: 0.25in;
  }

  aside {
    margin-top: 0.25in;
    padding-right: 0.25in;
  }

  header a::after {
    content: attr(href);
    display: block;
    font-size: 0.7rem;
  }

  #projects a::after {
    display: inline;
    content: attr(href);
    font-size: 0.7rem;
    padding-left: 0.5rem;
    text-decoration: none;
  }
}

@media screen {
  .container {
    width: 100vw;
    margin: 0 auto;
    max-width: 8.5in;
  }

  main {
    padding-top: 2rem;
    padding-left: 2rem;
    padding-bottom: 2rem;
  }

  aside {
    margin-top: 2rem;
    padding-right: 2rem;
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 719px) {
  .container {
    display: block;
    padding-left: 8vw;
    padding-right: 8vw;
  }

  main,
  aside {
    padding-left: 0;
    padding-bottom: 0;
    border: none;
    max-width: 100%;
  }

  h2,
  #summary {
    text-align: center;
  }

  h2 {
    padding-left: 0 !important;
  }

  aside {
    margin-top: 0;
    padding-right: 0;
  }

  aside > section {
    border-left: none;
    padding-left: 0;
  }

  aside > h2 {
    border-left: none;
  }
}

@media screen and (max-width: 480px) {
  .container {
    padding-left: 0;
    padding-right: 0;
  }

  main > section,
  aside > section,
  header {
    padding-left: 5vw;
    padding-right: 5vw;
  }

  header > h1 {
    font-size: 2.5rem;
  }

  header > h2 {
    font-size: 1.5rem;
  }

  #projects article {
    padding-left: .1rem !important;
    padding-top: 1.5rem;
  }
}